.body{
    font-family: 'Exo 2', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.nav{
    background-color: black;
    color: white;
    padding: 2px 20px;
    margin: 0 13%;
}
.nav h1{
    margin: 5px;
}
.main{
    display: flex;
}
.col1{
    flex:1;
}
.col2{
    flex:2;
}
.TitleFeed{
    text-align: center;
}
.profile{
    border: 2px solid black;
    margin: 0% 5% 5% 38%;
    padding: 0% 5% 5% 5%;
    text-align: center;
}
.photo{
    height: 80px;
    margin-bottom: 40px;
    margin-top: 20px;
}
.someUser{
    border: 2px solid black;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
    margin: 0% 20% 5% 0%;

}
.flex-container{
    display: flex;
    align-items: baseline;
    justify-content: space-between;

}
.btnlbl{
    position: relative;
    width: 125px;
    right: 70px;
    

}
.btn{
    background-color: #FFD700;
    box-shadow: 3px 3px 5px 0px;
    padding: 5px 10px;
    border-radius: 10px;
    margin-left: 10px;

    
    
}
.text{
    font-style:oblique;

}